<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample-API-test" parallel="methods"
        data-provider-thread-count="1" thread-count="1">
        <test name="API Test" preserve-order="true">
                <classes>
                        <class name="com.test.api.SampleAPITest" />
                </classes>
        </test>
</suite>
